# Dependencies
node_modules/

# Environment files
.env
**/.env
.env.local
.env.*
!.env.example

# Build files
/build
/dist

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
